@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {

    .no-scrollbar::-webkit-scrollbar {
        display: none;
    }

    .no-scrollbar {
        -ms-overflow-style: none;
        scrollbar-width: none;
    }

    @keyframes countdown {
        from {
            stroke-dashoffset: 0px;
        }

        to {
            stroke-dashoffset: 738px;
        }
    }

    .right-set {
        right: 36rem;
    }

    .top-set {
        top: 3.8rem
    }

    .stroke-3 {
        stroke-width: 0.5rem;
    }

    .animate-countdown {
        animation: countdown linear forwards;
    }

    .rotate-y-360 {
        transform: rotateY(360deg);
    }

    .rotate-z--90 {
        transform: rotateZ(-90deg);
    }
}